.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header,
.App-footer {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
}

.home-btn,
.faq-btn,
.enter-app-btn {
  height: 4rem;
  padding: 0 1.6rem;
  background-color: purple;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.home-btn:hover,
.faq-btn:hover,
.enter-app-btn:hover {
  background-color: rgb(187, 89, 187);
  transition: 0.15s;
}
