.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header,
.App-footer {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
}
